// Place all the styles related to the Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


form{
  width:auto;
  margin:0 auto;
}
.search {
  padding:4px 5px 4px 10px;
  margin:3px;
  background: url('./images/search.png') no-repeat 8px 6px;
  float: right;
}

.rounded {
  border-radius:15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
}

input[type=text]{
  color:#bcbcbc;
}

.lighter, .light, .dark {
  width:95%;
  height:60px;
  padding:25px 25px;
}

.light{
  background: url('./images/light_grey.jpg');
}
.light input[type=text]{
  border:1px solid #acb1b7;
  background-color:#fcfcfc;
}

.dark{
  background: url('./images/dark_grey.jpg');
}
.dark input[type=text]{
  border:1px solid #2a2e31;
  background-color:#2d3035;
  color:#505358;
}

input[type=button], input[type=button]:hover {
  position:relative;
  left:-6px;
  border:1px solid #adc5cf;
  background: #e4f1f9; /* Old browsers */
  background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
  background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
  color:#7da2aa;
  cursor: pointer;
}