<% if user_signed_in? %>
    <p>Welcome <%= current_user.name %></p>
    <%#= render :partial => 'devise/registrations/status' %>
    <%= link_to 'Edit Game List', gamers_path %> <br />
<% else %>
    <%#=  link_to 'Login', new_user_session_path %>
    <%#=  link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook) %>
<% end %>