<h1><%= @company.name %></h1>
<p></p>
%p
lat:
=@company.lat
<p></p>
%p
lng:
=@company.lng
/ map div
<p></p>
#map{:style => "width: 550px; height: 350px;"}


<p></p>

:javascript
$(document).ready(function(){
var company = #{@company.to_json}    // pass ruby variable to javascript
gmap_show(company);    // init show map for company card (only print marker)
});